* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.topo {
  display: flex;
  background: #e60014;
  height: 100px;
  align-items: center;
}

.topo h1 {
  color: #FFFFFF;
  font-size: 26px;
  margin-left: 25px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo-login h2 {
  color: #707070;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 35px;
}

.titulo-login p {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.login-cliente {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.login-cliente label {
  margin-bottom: 10px;
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
}

.login-cliente input {
  margin-bottom: 20px;
  width: 290px;
  height: 30px;
  border-radius: 3px;
}

#btn {
  border: none;
  background-color: #e60014;
  color: #FFFFFF;
  height: 40px;
  font-family: sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer p {
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 16px;
}

.footer a {
  font-family: sans-serif;
  font-size: 18px;
}